$off-white: #F2F3F4;

$light-gray: #BEC8CB;
$mid-gray: #667E86;
$dark-gray: #254652;

$light-yellow: #F2DCA6;
$dark-yellow: #DFB349;

$light-teal: #AAD8D2;
$dark-teal: #2B9D8F;

$light-orange: #F4B7A8;
$dark-orange: #E86F50;