.dropdown {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    position: relative;
    z-index: 1000;

    #leftMappingDrop, #rightMappingDrop {
        font-family: 'Montserrat';
        background-color:#f2f3f4;
        border: 1px solid #254652;
        color: #254652;
        padding: 5px 10px;
        border-radius: 3px;
    }
    
}

#leftMappingDrop:focus, #rightMappingDrop:focus {
    outline: none;
}

#leftMappingDrop:hover, #rightMappingDrop:hover {
    cursor: pointer;
}