@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #f2f3f4;

    h1 {
        font-family: 'Montserrat';
        font-size: 50px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        color: #254652;
        margin-bottom: 20px;
    }

    button.nav-links {
        font-family: 'Montserrat';
        background-color:#f2f3f4;
        border: 1px solid #254652;
        color: #254652;
        padding: 5px 10px;
        border-radius: 3px;
        justify-content: center;
        margin-right: 5px;
    }

    button.nav-links:hover {
        border: 1px solid #e86f50;
        color: #e86f50;
    }

    button.nav-links:focus {
        background-color: #f4b7a8;
        color: #e86f50;
        outline: none;
    }
}

#navbar {
    display: flex;
    justify-content: center;
}