@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(165, 203, 242);

    h1 {
        font-family: 'Montserrat';
        font-size: 50px;
        font-weight: 500;
        font-style: italic;
        display: flex;
        justify-content: center;
        color: rgb(247, 247, 247);
        margin-bottom: 20px;
    }

    button {
        font-family: 'Montserrat';
        background-color:rgb(165, 203, 242);
        border: 1px solid rgb(93, 161, 224);
        color: rgb(93, 161, 224);
        padding: 5px 10px;
        border-radius: 3px;
        justify-content: center;
        margin-right: 5px;
    }

    button:hover {
        border: 1px solid rgb(224, 93, 161);
        color: rgb(224, 93, 161);
    }

    button:focus {
        background-color: rgb(224, 93, 161);
        color: rgb(247, 247, 247);
    }
}

#navbar {
    display: flex;
    justify-content: center;
}